# NOTE: This instance is for testing this app, it is not included in the Dockerfile as
# it already contains an appropriate template file. 
# The names values starting with OPENDCS_ 
# are substitution placeholders for the 
# initial docker run of the particular application
#
EditDatabaseType={{ .Env.DatabaseType }}
EditDatabaseLocation={{ .Env.DatabaseUrl }}
# Settings for the dbedit GUI:
EditPresentationGroup=SHEF-English
routingStatusDir=$DCSTOOL_USERDIR/routstat

# Various agency-specific preferences:
SiteNameTypePreference={{.Env.DataTypeStandard}}
EditTimeZone=UTC
EditOutputFormat=Human-Readable

jdbcDriverClass={{.Env.DatabaseDriver}}

SqlKeyGenerator=decodes.sql.OracleSequenceKeyGenerator
sqlDateFormat=yyyy-MM-dd HH\:mm\:ss
sqlTimeZone=UTC
dbOfficeId={{.Office}}
CwmsOfficeId={{.Office}}
transportMediumTypePreference=goes

#defaultDataSource=
dataTypeStdPreference={{.Env.DataTypeStandard}}
#decwizTimeZone=
#decwizOutputFormat=
#decwizDebugLevel=
#decwizDecodedDataDir=
#decwizSummaryLog=

dbAuthFile={{.Env.DatabaseAuth}}